{% extends "base.html" %}
{% block content %}
<!-- <br><br>
<div class="lang-list-border"></div> -->
<p style="text-align:center;">Coded in <a href="https://www.python.org/">Python</a></p>
<p style="text-align:center;">Developed by <a href="mailto:davidhaas6@gmail.com">David Haas</a></p>
<p style="text-align:center;">Design shamelessly copied from <a href="https://wikipedia.org">Wikipedia</a></p>
<p style="text-align:center;"><br>{{search_count}} words searched since {{boot_time}}</p>
<br><br>
{% endblock %}