% extends "base.html"
% block content
<div class="search-container">
    <form action="" method="post" name="login" class="pure-form" id="search-form">
        <fieldset>
            <div class="search-input" id="search-input" tabindex="0">
                {{ form.hidden_tag() }}
                {{ form.term(size=30, maxlength=140, id="searchInput", placeholder=search_topic, autofocus="") }}
            </div>
            <button class="pure-button pure-button-primary-progressive" type="submit">
                <i class="sprite-bookshelf_icons sprite-bookshelf_icons-search-icon"></i>
            </button>
        </fieldset>
    </form>
</div>
<script>
function strip(html)
{
   var tmp = document.createElement("DIV");
   tmp.innerHTML = html;
   return tmp.textContent || tmp.innerText || "";
}

function copyToClipboard(elementId) {
    //document.getElementById(elementId).classList.remove('clickedResult');
    //document.getElementById(elementId).className ='clickedResult';
    var menu = document.querySelector('#'+elementId) // Using a class instead, see note below.
    menu.classList.toggle('clickedResult');

    // Create a "hidden" input
    var aux = document.createElement("input");

    // Assign it the value of the specified element
    aux.setAttribute("value", strip(document.getElementById(elementId).innerHTML));

    // Append it to the body
    document.body.appendChild(aux);

    // Highlight its content
    aux.select();

    // Copy the highlighted text
    document.execCommand("copy");

    // Remove it from the body
    document.body.removeChild(aux);

}
</script>

<div class="results">
        % with messages = get_flashed_messages()[0]
            % if messages
                % set count = 0
                % for message in messages
                    <div class="tooltip">
                        <p><b>{{ message[0] }}</b>: <span class="" id="def{{count}}" onclick="copyToClipboard('def{{count}}')">{{ message[1] }}</span><br/></p><span class="tooltiptext tooltip-right">Click to copy!</span>
                    </div>
                    % set count = count + 1
                % endfor
            % endif
        % endwith
</div>
% endblock